soap/src/main/app/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8181" doc:name="HTTP Request Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8181" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration1" host="192.168.56.101" port="8080" doc:name="HTTP Request Configuration"/>
    <flow name="soapFlow" initialState="started">
        <http:listener config-ref="HTTP_Listener_Configuration" path="foo" allowedMethods="POST" doc:name="HTTP"/>
        <echo-component doc:name="Echo"/>
        <json:json-to-object-transformer returnClass="json.LoanRequest" doc:name="JSON to Object"/>
        <echo-component doc:name="Echo"/>
          <set-payload value="#[{new java.lang.Double('1000.00'),java.lang.Integer.parseInt('5'),new java.lang.String('a')}]" doc:name="Normalize Payload for VBank"></set-payload>  
        <echo-component doc:name="Echo"/>
        <processor-chain doc:name="Schufa SOAP"> 
                    <cxf:jaxws-client operation="getCreditRate" clientClass="soap.VBankService" port="VBankPort" wsdlLocation="http://192.168.56.101:8080/VBankService/services/VBankPort?wsdl" doc:name="SOAP"></cxf:jaxws-client>
            <http:request config-ref="HTTP_Request_Configuration1" path="VBankService/services/VBankPort" method="POST" doc:name="HTTP"/>   
                </processor-chain>  
        <echo-component doc:name="Echo"/>
    </flow>
</mule>
