enricher/src/main/app/enricher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
   <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8181" doc:name="HTTP Listener Configuration"/>
    <flow name="rest-jsonFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="foo" allowedMethods="POST" responseStreamingMode="NEVER" doc:name="HTTP"/>
        <echo-component doc:name="Echo"/>
        <enricher doc:name="Message Enricher">
            <flow-ref name="enricherFlow" doc:name="Flow Reference"/>
            <enrich source="#[payload]" target="#[variable:enrich]"/>
        </enricher>
        <logger message="After: Payload: #[payload] Enrich: #[variable:enrich]" level="INFO" doc:name="Logger"/>
        <echo-component doc:name="Echo"/>
    </flow>
    <flow name="enricherFlow">
        <set-payload value="#['EnrichContent']" doc:name="Set Payload"/>
    </flow>


</mule>
