recipientList/src/main/app/recipient-list.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8181" doc:name="HTTP Listener Configuration"/>
    <flow name="recipient-listFlow">    
     <http:listener config-ref="HTTP_Listener_Configuration" path="foo" allowedMethods="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer doc:name="JSON to Object" returnClass="json.Recipients"/>
        <echo-component doc:name="Echo"/>
        <logger message="#[payload.getChoice()]" level="INFO" doc:name="Logger"/>
        <foreach collection="#[payload.getChoice()]" doc:name="For Each">
            <choice doc:name="Choice">
                <when expression="#[rootMessage.payload.getChoice() == '1']">
                    <set-payload value="#[flowVars['rootMessage'].getPayload()]" doc:name="Set Payload"/>
                    <logger message="Choice Variable is One: #[payload.getChoice()]" level="INFO" doc:name="Logger 1"/>
                </when>
                <when expression="#[rootMessage.payload.getChoice() == '2']">
                    <set-payload value="#[flowVars['rootMessage'].getPayload()]" doc:name="Set Payload"/>
                    <logger message="Choice Variable is Two #[payload.getChoice()]" level="INFO" doc:name="Logger 2"/>
                </when>
                <otherwise>
                    <logger message="Choice Variable is Default" level="INFO" doc:name="Logger Default"/>
                </otherwise>
            </choice>
        </foreach>
      
    </flow>
</mule>
